*{
    background: black;
    color:rgb(6, 250, 6);
}

a{
    text-decoration: none;
    font-size:20px;
   
}

li a:hover{
   background: chartreuse;
    color:red;

}

#geridön a{
    background: rgb(9, 201, 25);
    padding:4px;
    color: black;
    border-radius: 10px;
}

