*{
    background: black;
    color: rgb(66, 223, 52);
}

img{
    width: 500px;
    height: 400px;
}
a{
    display:block;/*a etiketi normalde satır içi elemandır böyle yaparak onu blok eleman yaptık*/
    line-height: 30px;
    text-transform: uppercase;/*tüm yazıları büyük harfle göster*/
    text-decoration:none;
    padding-left: 10px;
    margin-top: 0;
}
p{
    display: inline;/*blok elemanları satır içi yapmak içindir.*/
}

a+br+p{/*a'dan ve br'den sonra gelen p'yi seçer*/
     text-decoration:line-through;/*üzerini çiz*/
}

#geridön a{
    background: rgb(9, 201, 25);
    padding:2px;
    color: black;
    border-radius: 10px;
    display: inline-block;
    margin-top:10px;
    text-transform:none;
    font-size:22px;
    margin-left: 10px;    
}

